<ion-header>
	<ion-toolbar>
		<ion-buttons left>
			<button ion-button (click)="dismiss()">
				<ion-icon name="md-close" class="lg-nav-icon"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Фильтр</ion-title>
		<ion-buttons right>
			<button ion-button (click)="applyChanges()" [disabled]="!filterHasChange">
				Применить
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list no-lines>
		<ion-item (click)="openCategories()">
			<ion-thumbnail item-left>
				<img *ngIf="!category" src="assets/category/png/all.png"/>
				<img *ngIf="category" src="assets/category/png/{{category.path[0].slug}}.png"/>
			</ion-thumbnail>
			<h2>Изменить категорию</h2>
			<p *ngIf="!category">Выбраны все категория</p>
			<p *ngIf="category">
				{{category.path[0].name}}
				<span *ngIf="category.path[0].id != category.item.id"> - {{category.item.name}}</span>
			</p>
		</ion-item>

		<ion-item (click)="openLocation()">
			<ion-thumbnail class="icon-thumbnail" item-left>
				<ion-icon name="pin-outline"></ion-icon>
			</ion-thumbnail>
			<h2>Изменить местоположение</h2>
			<p *ngIf="!location">Не выбрано</p>
			<p *ngIf="location">
<!--
				{{location.path[0].title}}
				<span *ngIf="location.path[0].id != location.item.id"> - {{location.item.title}}</span>
-->
				{{location.title}}
			</p>
		</ion-item>

		<!-- <ion-item>			 -->
			<ion-row style="border-bottom: 0.55px solid #c8c7cc !important; padding-bottom: 10px;">
				<ion-col col-2 style="padding-top: 15px;">
					<ion-thumbnail class="icon-thumbnail" item-left>
						<ion-icon name="pricetags-outline"></ion-icon>
					</ion-thumbnail>
				</ion-col>
				<ion-col col-5>
					<ion-input
						type="tel"
						[(ngModel)]="price.from"
						placeholder="Мин"
						(ionChange)="priceFromChanged($event)">
					</ion-input>
					<p style="margin: 0; color: #545454;">Цена от</p>
				</ion-col>
				<ion-col col-5>
					<ion-input
						type="tel"
						[(ngModel)]="price.to"
						placeholder="Макс"
						(ionChange)="priceToChanged($event)">
					</ion-input>
					<p style="margin: 0; color: #545454;">Цена до</p>
				</ion-col>
			</ion-row>
		<!-- </ion-item> -->

		<ion-item class="has-no-border" style="border: none !important;">
			<ion-thumbnail class="icon-thumbnail" item-left>
				<ion-icon name="disc-outline"></ion-icon>
			</ion-thumbnail>
			<h2>На расстоянии {{range}}км</h2>
			<p></p>
		</ion-item>
		<ion-item style="margin-top: -10px;">
			<ion-range style="padding: 0;" min="1" max="50" step="5"
				[(ngModel)]="range"
				(ionChange)="rangeChanged($event)">
			</ion-range>
		</ion-item>
	
		<ion-item *ngFor="let c of characteristics" (click)="openCharacteristics($event, c)">
			<h2>{{c.name}}</h2>
			<p item-right class="characteristics-value" *ngIf="!characteristicsFilter.has(c.id)">Все</p>
			<p item-right class="characteristics-value" *ngIf="characteristicsFilter.has(c.id)">{{characteristicsFilter.get(c.id).value}}</p>	
			<ion-icon name="arrow-forward" item-right class="icon-forward"></ion-icon>
		</ion-item>
	</ion-list>

</ion-content>


<ion-footer>
	<button ion-button block outline (click)="resetAllFilters()">Сбросить фильтр</button>
</ion-footer>
