<ion-header [ion-shrinking-header-and-tabs]="content">
	<ion-toolbar color="primary">
		<ion-buttons left>
			<button ion-button icon-only (click)="openCategories($event)">
				<ion-icon name="md-list"></ion-icon>
			</button>
		</ion-buttons>
		<ion-searchbar
			placeholder="Поиск"
			[(ngModel)]="searchInput"
			debounce="900"
			(ionInput)="search($event)"
			(ionClear)="clearSearch($event)">
		</ion-searchbar>
		<ion-buttons end>
			<button ion-button icon-only (click)="toggleMode()">
				<ion-icon name="grid-outline" *ngIf="mode == 'grid'"></ion-icon>
				<ion-icon name="list-box-outline" *ngIf="mode == 'list'"></ion-icon>
			</button>
			<button ion-button icon-only (click)="openFilter()">
				<ion-icon name="options"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content no-bounce>
	<!-- fullscreen -->
	<!-- overflow-scroll="false" -->
	<!--ion-list>
		<ion-item *ngFor="let something of somethings">
			<ion-thumbnail item-left>
				<img src="https://avatars.io/instagram/unknown">
			</ion-thumbnail>
			<h2>Something</h2>
		</ion-item>
	</ion-list-->
	<!--ion-list>
		<ion-refresher (ionRefresh)="doRefreshProduct($event)">
			<ion-refresher-content></ion-refresher-content>
		</ion-refresher>
		<ion-card *ngFor="let item of productList" class="product product-list" (click)="openProduct(item)">
			<ion-item>
				<ion-thumbnail item-left>
					<div class="box">
						<img [src]="host+'/'+item.photo"/>
					</div>
				</ion-thumbnail>
				<h2><span *ngIf="!item.name">&nbsp;</span>{{item.name}}</h2>
				<p><span *ngIf="!item.description">&nbsp;</span>{{item.description}}</p>
				<div class="product-cost product-cost-list">
					<span *ngIf="item.cost">{{item.cost}} Р</span>
					<span *ngIf="item.min_cost">{{item.min_cost}} Р</span>
				</div>
			</ion-item>
		</ion-card>
		<ion-infinite-scroll
			(ionInfinite)="doInfiniteProduct($event)"
			[enabled]="productIsMoreAvailable"
			threshold="45%">
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</ion-list-->
	<div [ngSwitch]="mode">
		<div *ngSwitchCase="'list'">
			<ion-refresher (ionRefresh)="doRefreshProduct($event)">
				<ion-refresher-content></ion-refresher-content>
			</ion-refresher>
			<ion-list>
				<!--ion-item *ngFor="let item of productList">
					<ion-card class="product product-list" (click)="openProduct(item)">
						<ion-item>
							<ion-thumbnail item-left>
								<div class="box">
									<img [src]="host+'/'+item.photo"/>
								</div>
							</ion-thumbnail>
							<h2><span *ngIf="!item.name">&nbsp;</span>{{item.name}}</h2>
							<p><span *ngIf="!item.description">&nbsp;</span>{{item.description}}</p>
							<div class="product-cost product-cost-list">
								<span *ngIf="item.cost">{{item.cost}} Р</span>
								<span *ngIf="item.min_cost">{{item.min_cost}} Р</span>
							</div>
						</ion-item>
					</ion-card>
				</ion-item-->

				<ion-card *ngFor="let item of productList">
					<div class="box">
						<img [src]="host+'/'+item.photo"/>
					</div>
					<ion-card-content>
						<h2><span *ngIf="!item.name">&nbsp;</span>{{item.name}}</h2>
						<!-- <p>
							<span *ngIf="item.cost">{{item.cost}} Р</span>
							<span *ngIf="item.min_cost">{{item.min_cost}} Р</span>
						</p> -->
						<p [innerHtml]="item.description | concat: 80"></p>
					</ion-card-content>

					<ion-row>
						<ion-col>
							<p>
								<ion-icon name="pin-outline" color="ashyqsur"></ion-icon>
								{{item.readableCity}}
							</p>
						</ion-col>
							
						<ion-col>
							<p style="text-align: right">
								<ion-icon name="time-outline" color="ashyqsur"></ion-icon>
						 		{{item.end_time | timeago: 'date'}}
						 	</p>
						</ion-col>
					</ion-row>
				</ion-card>
			</ion-list>
			<ion-infinite-scroll
				(ionInfinite)="doInfiniteProduct($event)"
				[enabled]="productIsMoreAvailable"
				threshold="800px">
				<!-- threshold="60vh" -->
				<!-- threshold="300vh" -->
				<!-- threshold="65%" -->
				<ion-infinite-scroll-content></ion-infinite-scroll-content>
			</ion-infinite-scroll>
			<!-- (ionInfinite)="$event.waitFor(doInfiniteProduct($event))" -->
		</div>
		<!--div *ngSwitchCase="'grid'">
			<ion-row *ngFor="let page of pagination['grid']">
				<ion-col col-6 *ngFor="let item of productList.slice(page.begin, page.end)">
					<ion-card class="product product-grid" (click)="openProduct(item)">
						<ion-item>
							<div class="box">
								<img [src]="host+'/'+item.photo"/>
							</div>
							<h2><span *ngIf="!item.name">&nbsp;</span>{{item.name}}</h2>
							<p><span *ngIf="!item.description">&nbsp;</span>{{item.description}}</p>
							
							<div class="product-cost product-cost-grid">
								<span *ngIf="item.cost">{{item.cost}} Р</span>
								<span *ngIf="item.min_cost">{{item.min_cost}} Р</span>
							</div>
						</ion-item>
					</ion-card>
				</ion-col>
			</ion-row>
		</div-->
	</div>
</ion-content>