<!--ion-menu side="left" type="push" [content]="content">
	<ion-content>
		Fuck fuck ok ha
		<ion-list>
			<ion-item *ngFor="let category of categoryList">
				<!-- (click)="categoryTapped($event, item)" - ->
				{{category.name}}
				<ion-icon name="arrow-forward" item-right *ngIf="item.is_parent == 1"></ion-icon>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-menu side="right" [content]="content">
	<ion-content>
		Fuck fuck

	</ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav-->
<ion-nav [root]="rootPage"></ion-nav>
